# Виртуальное окружение
venv/
.venv/
env/
*.pyc
__pycache__/
/static/*

# Базы данных и настройки
*.sqlite3
*.db
.env
.env.local
secrets.json

# Логи и кэш
*.log
.cache/
.idea/
.vscode/

/media/
/media/*
/media/show_images/
/media/slider_images/
/media/gallery_images/
/gallery_images/
/show_images/
/slider_images//media/
/media/
